.venv/
.vscode/
__pycache__/

my_dataset/
clean_faces_4_white/
attendance_captures/
embeddings_out/
extracted_faces_from_group/
qdrant_storage/

faces.db
captured.jpg
attendance_log.csv

*.pyc
*.pyo
*.pyd
